cd <li>
	{{hotdog_name}}

	<button class="btn btn-warning change-eaten" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}UNEAT?{{else}}EAT?{{/if}}
	</button>

	<button class="btn btn-danger delete-hotdog" data-id="{{this.id}}">EAT FOR GOOD!</button>
</li>
